@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin:0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
}

button {
    font-family: "Montserrat", sans-serif;
}

#LoginSection {
    height: 300px;
    width: 700px;

    margin-left: 150px;
    margin-top: 200px;

    background-color: red;
    border: 2px solid black;
    border-radius: 20px;

    display:grid;
    place-items: center;
    grid-template-areas: 'a b';
}

#login {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    margin-left: 87px;
}

#signUp {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navBar {
    position: fixed;
    height: 100vh;
    width: 40px;

    padding: 0;

    margin-top: 0;

    background-color: green;
}

#navList {
    list-style-type: none;
    padding: 0;

    padding-left: 5px;
}

.navElem {
    margin-left: 5px;
}

.navLink {
    display: none;
}

.navIcon {
    transform: scale(1.2);
}

#navBar:hover {
    width: 100px;

    .navLink {
        display: block;
    }
}