@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html,body {
    
    margin:0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;

    height:100%;
}

body {
    background: linear-gradient(45deg,#FAF9F6, #E2DFD2);

    height:100%;
}

#loginSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    margin-left: 15%;
    background-color: darkblue;
    margin-top: 10vh;
    border-radius: 50px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.border {
    height:100%;
    background-color: black;
}