@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display : flex;
    justify-content: center;
    align-items: center;

    font-family: "Montserrat", sans-serif;
}

#LoginSection {
    height: 300px;
    width: 700px;

    margin-top: 200px;

    background-color: red;
    border: 2px solid black;
    border-radius: 20px;

    display:grid;
    place-items: center;
    grid-template-areas: 'a b';
}

#login {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    margin-left: 87px;
}

#signUp {
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

